@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&display=swap');
/*this is we're storing our custom variables*/
:root {
    --color-01: #ffe1e1;
    --color-02: #aeaeae;
    --color-03: #626f9c;
    --color-04: #474060;
    --border: 2px solid var(--color-04);
}


body {
    margin: 0;
    padding: 40px;
    font-family: 'TASA Explorer', sans-serif;
    background-color: var(--color-01);
    color: var(--color-04);
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.prototype {
  flex-direction: column;
}

.draggable-area,
.drop-zone {
  width: 400px;
  min-height: 300px;
  padding: 20px;

  border: 2px solid var(--color-04);
}

.draggable-area {
  display: flex;
  align-items: flex-start;
  gap: 20px;

  background-color: #ffffff;
}

.drop-zone {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;

  background-color: var(--color-02);
}

.creature {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 0 0 70px;
  width: 70px;
  height: 70px;

  background-color: var(--color-03);
  border: 2px solid var(--color-04);

  font-size: 20px;
  font-weight: bold;

  cursor: grab;
}

.creature:active {
  cursor: grabbing;
}

 dialog
{
    background-color: var(--color-02);
    color: var(--color-04);
    border: var(--border);
    padding: 1rem;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

dialog[open] {
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

button {
    background-color: var(--color-03);
    color: var(--color-04);
    border: var(--border);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
